#{extends 'main.html' /}
#{set title:'Netinho da Vó' /}
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Netinho da Vó</title>
<meta name="description" content="">
<meta name="keywords" content="">

</head>

<body class="index-page">


	<main class="main">

		<section id="hero" class="hero section light-background">

			<img src="@{'/public/images/istockphoto-1717120374-612x612.jpg'}" alt="" data-aos="fade-in">

			<div class="container position-relative">

				<div class="welcome position-relative" data-aos="fade-down"
					data-aos-delay="100">
					<h2>BEM-VINDO AO NETINHO DA VÓ</h2>
					<p>Aqui estão algumas de nossas especialidades:</p>
				</div>
				<!-- End Welcome -->

				<div class="content row gy-4">
					<div class="col-lg-4 d-flex align-items-stretch">
						<div class="why-box" data-aos="zoom-out" data-aos-delay="200">
							<h3>Quais problemas te ajudamos?</h3>
							<p>Ao lado, tem algumas coisas que podemos tentar te ajudar.
								Vê ai!</p>
							<div class="text-center">
								<a href="#about" class="more-btn"><span>Saiba Mais
										--></span> <i class="bi bi-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-8 d-flex align-items-stretch">
						<div class="d-flex flex-column justify-content-center">
							<div class="row gy-4">

								<div class="col-xl-3 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
										<i class="bi bi-clipboard-data"></i>
										<h4>INTERNET</h4>
										<p>
											🔹 Conexão intermitente</br> A internet cai e volta sozinha,
											dificultando o uso de chamadas de vídeo ou jogos online. </br> 🔹
											Wi-Fi não aparece</br> O computador ou celular não encontra a rede
											Wi-Fi, mesmo ela estando ativa para outros dispositivos. </br> 🔹
											Velocidade muito baixa</br> A internet funciona, mas está muito
											lenta para carregar páginas, vídeos ou downloads. </br>
										</p>
									</div>
								</div>
								<!-- End Icon Box -->

								<div class="col-xl-3 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
										<i class="bi bi-gem"></i>
										<h4>HARDWARE</h4>
										<p>
											🔹 Tela preta ao ligar o computador</br> Mesmo ligando, o
											computador não exibe nada na tela — pode ser falha no
											monitor, placa de vídeo ou memória. </br> 🔹 Teclado ou mouse não
											respondem</br> Os periféricos param de funcionar, seja por falha
											na conexão USB ou por defeito físico. </br> 🔹 Superaquecimento</br> O
											computador ou notebook esquenta demais e até desliga sozinho
											para proteger os componentes.</br>
										</p>
									</div>
								</div>
								<!-- End Icon Box -->

								<div class="col-xl-3 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
										<i class="bi bi-inboxes"></i>
										<h4>SOFTWARE</h4>
										<p>
											🔹 Aplicativo travando ou fechando sozinho</br> Programas como
											navegadores, editores ou jogos fecham sem aviso ou travam
											durante o uso. </br> 🔹 Erro ao instalar programas</br> O usuário tenta
											instalar um software e aparecem mensagens de erro ou a
											instalação não conclui. </br> 🔹 Atualizações com falhas</br> O sistema
											ou aplicativo tenta atualizar, mas dá erro, corrompe arquivos
											ou piora o desempenho.</br>
										</p>
									</div>
								</div>
								<!-- End Icon Box -->

								<div class="col-xl-3 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
										<i class="bi bi-inboxes"></i>
										<h4>SISTEMA OEPRACIONAL</h4>
										<p>
											🔹 Sistema não inicia</br> Ao ligar o PC, o Windows (ou outro
											sistema) não carrega — fica travado na tela inicial ou exibe
											erro.</br> 🔹 Tela azul da morte (BSOD)</br> O computador reinicia
											sozinho e mostra uma tela azul com uma mensagem de erro —
											comum no Windows.</br> 🔹 Erros de permissão ou usuário</br> O usuário
											não consegue abrir pastas, instalar programas ou acessar
											arquivos por problemas nas permissões do sistema.</br>
										</p>
									</div>
								</div>
								<!-- End Icon Box -->
							</div>
						</div>
					</div>
				</div>
				<!-- End  Content-->

			</div>

		</section>
		<!-- About Section -->
		<section id="about" class="about section">

			<div class="container">

				<div class="row gy-4 gx-5">

					<div class="col-lg-6 position-relative align-self-start"
						data-aos="fade-up" data-aos-delay="200">
						<img src="@{'/public/images/istockphoto-1717120374-612x612.jpg'}" class="img-fluid" alt=""> <a
							href="https://www.youtube.com/shorts/MRw_lyvdkDA"
							class="glightbox pulsating-play-btn"></a>
					</div>

					<div class="col-lg-6 content" data-aos="fade-up"
						data-aos-delay="100">
						<h3>SOBRE NÓS</h3>
						<p>	Nosso site nasceu com um propósito claro: tornar a tecnologia mais acessível para idosos.
							 Sabemos que, para muitas pessoas, computadores e celulares podem parecer complicados — 
							 e é exatamente por isso que estamos aqui.

						
						
						</p>
						<ul>
							<li><i class="fa-solid fa-vial-circle-check"></i>
								<div>
									<h5>NOSSOS PRINCÍPIOS</h5>
									<p>	Acreditamos que todo mundo merece usar a tecnologia com segurança, 
										confiança e autonomia. Por isso, oferecemos orientações simples, explicações passo a passo e um suporte
										 pensado especialmente para quem está dando os primeiros passos no mundo digital.
</p>
								</div></li>
							<li><i class="fa-solid fa-pump-medical"></i>
								<div>
									<h5>NOSSO OBJETIVO</h5>
									<p>	Nossa missão é facilitar o dia a dia, aproximar pessoas e mostrar que aprender não tem idade. 
										Estamos sempre atualizando nossos conteúdos para garantir que qualquer dúvida — por menor que seja — 
										encontre aqui uma resposta clara e amiga.
										
										Video pelo:
										Gabriel Miranda
</p>
								</div></li>
							<li><i class="fa-solid fa-heart-circle-xmark"></i>
								<div>
									<h5>Tecnologia sem complicação, para todos!</h5>
							
								</div></li>
						</ul>
					</div>

				</div>

			</div>

		</section>
		<!-- /About Section -->
		<!-- Services Section -->
		<section id="services" class="services section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>SERVIÇOS</h2>
				<p>Aqui estão alguns de nossos serviços</p>
			</div>
			<!-- End Section Title -->

			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="100">
						<div class="service-item  position-relative">
							<div class="icon">
								<i class="fas fa-heartbeat"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>HARDWARE</h3>
							</a>
							<p>Hardware é o nome que damos às peças físicas do computador, aquelas que podemos ver e tocar. É como o “corpo” da máquina: o teclado onde digitamos, o mouse que usamos para clicar, a tela onde vemos as coisas e as partes internas que fazem tudo funcionar. Sem essas peças, o computador não consegue ligar nem fazer nada.</p>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="200">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-pills"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>SOFTWARE</h3>
							</a>
							<p>Software é como o “cérebro” do computador, aquilo que dá as instruções para ele funcionar. São os programas que usamos no dia a dia, como WhatsApp, navegador de internet, jogos ou o próprio Windows. Diferente do hardware, o software não é algo que a gente toca — ele é o que aparece na tela e permite que o computador faça as tarefas que queremos.</p>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="300">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-hospital-user"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>INTERNET</h3>
							</a>
							<p>Internet é como uma grande rede de caminhos que liga computadores do mundo inteiro. Ela permite que a gente envie mensagens, veja vídeos, pesquise coisas e fale com outras pessoas, tudo em poucos segundos. É como se fosse uma “estrada invisível” por onde as informações viajam para chegar até você.</p>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="400">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-dna"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>SISTEMA OPERACIONAL</h3>
							</a>
							<p>Sistema operacional é o programa principal do computador ou do celular, aquele que organiza tudo e faz o aparelho funcionar. Ele é quem controla as outras aplicações, mostra a tela inicial e permite que você abra programas, salve arquivos e use a internet. Exemplos são o Windows, o Android e o iPhone (iOS). Sem o sistema operacional, o aparelho não saberia o que fazer.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="500">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-wheelchair"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>APLICATIVOS</h3>
							</a>
							<p>Aplicativos são programas que usamos para fazer tarefas específicas no celular ou no computador. Podem servir para conversar (como WhatsApp), ver vídeos (YouTube), jogar, ouvir música ou até pagar contas. Eles funcionam dentro do sistema operacional e deixam o uso do aparelho mais fácil e útil no dia a dia.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up"
						data-aos-delay="600">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-notes-medical"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>SERVIÇOS GERAIS</h3>
							</a>
							<p>Oferecemos ajuda para resolver dúvidas e dificuldades do dia a dia com celular e computador. Seja para ajustar configurações, instalar programas, organizar arquivos, atualizar o aparelho ou resolver pequenos problemas, estamos aqui para tornar tudo mais fácil e prático. Nosso objetivo é acompanhar cada passo com paciência e clareza, para que você use a tecnologia com mais segurança e tranquilidade.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div>
					<!-- End Service Item -->

				</div>

			</div>

		</section>
		<!-- /Services Section -->

		<!-- Erros Section -->
		<section id="departments" class="departments section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>ERROS FREQUENTES</h2>
				
			</div>
			<!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row">
					<div class="col-lg-3">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item"><a class="nav-link active show"
								data-bs-toggle="tab" href="#departments-tab-1">A tela fica toda preta / travada</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#departments-tab-2">O Wi-Fi desconecta ou a internet some</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#departments-tab-3">O celular ou computador está muito lento</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#departments-tab-4">O teclado está digitando coisas erradas</a></li>
							<li class="nav-item"><a class="nav-link"
								data-bs-toggle="tab" href="#departments-tab-5">O som não sai</a></li>
						</ul>
					</div>
					<div class="col-lg-9 mt-4 mt-lg-0">
						<div class="tab-content">
							<div class="tab-pane active show" id="departments-tab-1">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>A tela fica toda preta / travada</h3>
										<p class="fst-italic">									Como arrumar:
										<p class="textos_erros">											Segure o botão de ligar/desligar por alguns segundos até o aparelho reiniciar. Às vezes ele só precisa “descansar” um pouquinho para voltar ao normal.</p>
																					</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-1.jpg" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-2">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>O Wi-Fi desconecta ou a internet some</h3>
										<p class="fst-italic">Como arrumar:</p>
										<p>Abra as configurações e desligue e ligue o Wi-Fi novamente. Se não funcionar, desligue o modem da internet da tomada por 10 segundos e ligue de novo. Isso costuma resolver rapidinho.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-2.jpg" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-3">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>O celular ou computador está muito lento</h3>
										<p class="fst-italic">Como arrumar: </p>
										<p>Feche os aplicativos abertos que não está usando ou reinicie o aparelho. Também vale apagar fotos repetidas e arquivos que não precisa mais, pra liberar espaço.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-3.jpg" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-4">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>O teclado está digitando coisas erradas</h3>
										<p class="fst-italic">Como arrumar: </p>
										<p>Às vezes o teclado muda para outro idioma sem querer. Vá em Configurações > Teclado/Idioma e coloque de volta “Português (Brasil)”. Depois disso, tudo volta ao normal.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-4.jpg" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-5">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>O som não sai</h3>
										<p class="fst-italic">Como arrumar: </p>
										<p>Verifique se o volume não está no mínimo ou no modo silencioso. No computador, veja se há um fone conectado, pois às vezes isso desativa o som das caixas.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-5.jpg" alt=""
											class="img-fluid">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<!-- /Departments Section -->

		<!-- Faq Section -->
		<section id="faq" class="faq section light-background">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>PERGUNTAS FREQUENTES</h2>
				
			</div>
			<!-- End Section Title -->

			<div class="container">

				<div class="row justify-content-center">

					<div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

						<div class="faq-container">

							<div class="faq-item faq-active">
								<h3>Aqui estão algumas perguntas frequentes</h3>
								<div class="faq-content">
									<p>Nos envie sua pergunta!</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

							<div class="faq-item">
								<h3>“Por que meu celular/computador está tão lento?”</h3>
								<div class="faq-content">
									<p>Dolor sit amet consectetur adipiscing elit pellentesque
										habitant morbi. Id interdum velit laoreet id donec ultrices.
										Fringilla phasellus faucibus scelerisque eleifend donec
										pretium. Est pellentesque elit ullamcorper dignissim. Mauris
										ultrices eros in cursus turpis massa tincidunt dui.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

							<div class="faq-item">
								<h3>“Como faço para conectar no Wi-Fi?”</h3>
								<div class="faq-content">
									<p>Eleifend mi in nulla posuere sollicitudin aliquam
										ultrices sagittis orci. Faucibus pulvinar elementum integer
										enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum
										tellus pellentesque eu tincidunt. Lectus urna duis convallis
										convallis tellus. Urna molestie at elementum eu facilisis sed
										odio morbi quis</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

							<div class="faq-item">
								<h3>“É seguro clicar nesse link/mensagem?”</h3>
								<div class="faq-content">
									<p>Dolor sit amet consectetur adipiscing elit pellentesque
										habitant morbi. Id interdum velit laoreet id donec ultrices.
										Fringilla phasellus faucibus scelerisque eleifend donec
										pretium. Est pellentesque elit ullamcorper dignissim. Mauris
										ultrices eros in cursus turpis massa tincidunt dui.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

							<div class="faq-item">
								<h3>“Como faço para atualizar meu celular ou um aplicativo?”</h3>
								<div class="faq-content">
									<p>Molestie a iaculis at erat pellentesque adipiscing
										commodo. Dignissim suspendisse in est ante in. Nunc vel risus
										commodo viverra maecenas accumsan. Sit amet nisl suscipit
										adipiscing bibendum est. Purus gravida quis blandit turpis
										cursus in</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

							<div class="faq-item">
								<h3>“Onde ficam minhas fotos?”</h3>
								<div class="faq-content">
									<p>Enim ea facilis quaerat voluptas quidem et dolorem. Quis
										et consequatur non sed in suscipit sequi. Distinctio ipsam
										dolore et.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div>
							<!-- End Faq item-->

						</div>

					</div>
					<!-- End Faq Column-->

				</div>

			</div>

		</section>
		<!-- /Faq Section -->

		<!-- Contact Section -->
		<section id="contact" class="contact section">

			<!-- Section Title -->

			<div class="container section-title" data-aos="fade-up">
				<h2>Contatos</h2>
				<p>Nos conte seu probelema e nós ajudaremos:</p>
			</div>
			<!-- End Section Title -->

			<!--Form-->
			 <form action="@{Pessoas.salvar}" method="POST">
            <input type="hidden" name="pessoa.id" value="${p?.id}" />

            <div class="mb-3">
                <label class="form-label">Nome:</label> 
                <input class="form-control" type="text" name="pessoa.nome" value="${flash['pessoa.nome'] ? flash['pessoa.nome'] : p?.nome}" />
                #{ifError 'pessoa.nome'} 
                    #{list items:errors.forKey('pessoa.nome'), as:'error'} 
                        <span class="error-message">${error.message}</span><br>
                    #{/list} 
                #{/ifError}
            </div>

            <div class="mb-3">
                <label class="form-label">Email:</label> 
                <input class="form-control" type="text" name="pessoa.email" value="${flash['pessoa.email'] ? flash['pessoa.email'] : p?.email}" />
                #{ifError 'pessoa.email'} 
                    #{list items:errors.forKey('pessoa.email'), as:'error'} 
                        <span class="error-message">${error.message}</span><br> 
                    #{/list}
                #{/ifError}
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone:</label> 
                <input class="form-control" type="text" name="pessoa.tel" value="${flash['pessoa.tel'] ? flash['pessoa.tel'] : p?.tel}" />
                #{ifError 'pessoa.tel'} 
                    #{list items:errors.forKey('pessoa.tel'), as:'error'} 
                        <span class="error-message">${error.message}</span><br>
                    #{/list} 
                #{/ifError}
            </div>

            <div class="mb-3">
                <label class="form-label">Problema:</label> 
                <select class="form-select" name="pessoa.problema.id"> 
                    #{list items:problemas, as:'pro'}
                        <option value="${pro.id}" ${pro.id == p?.problema?.id ? 'selected' : ''}> ${pro.tipo}</option> 
                    #{/list}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Descreva seu problema:</label>
                <textarea class="form-control" name="pessoa.textoProblem" rows="10" cols="50" placeholder="Digite seu problema aqui...">${p?.textoProblem}</textarea>
            </div>

            <input class="btn btn-primary" type="submit" value="${p ? 'Editar':'Cadastrar'}" /> 
            <br><br>
        </form>
<!--End Form-->
		#{if session['usuarioPerfil'] == 'RESPONSAVEL'}
    	<div class="row mt-3">
        <div class="col-12 text-center">
            <a href="@{Pessoas.Listar()}" class="btn btn-primary btn-lg">
                Ir para Lista de Pessoas
            </a>
       		 </div>
    		</div>
		#{/if}

			<div class="mb-5" data-aos="fade-up" data-aos-delay="200">
				<iframe style="border: 0; width: 100%; height: 270px;"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.155996223781!2d-35.801029124139085!3d-5.543874155103179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3dc71d7d45f05%3A0x67f3cb9a4fb3499d!2sIFRN%20-%20Campus%20Jo%C3%A3o%20C%C3%A2mara!5e0!3m2!1sen!2sus!4v1765739655141!5m2!1sen!2sus""
					frameborder="0" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<!-- End Google Maps -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row gy-4">

					<div class="col-lg-4">
						<div class="info-item d-flex" data-aos="fade-up"
							data-aos-delay="300">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h3>Endereço</h3>
								<p>IFRN-Campus João Câmara</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up"
							data-aos-delay="400">
							<i class="bi bi-telephone flex-shrink-0"></i>
							<div>
								<h3>Telefone</h3>
								<p>4002-8922</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up"
							data-aos-delay="500">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h3>Email</h3>
								<p>netinhodavo@gmail.com</p>
							</div>
						</div>
						<!-- End Info Item -->

					</div>
	</main>



</body>