#{extends 'main.html' /}

#{if p}
	#{set title:'Edição de Pessoa' /}
#{/if}
#{else}
	#{set title:'Cadastro de Pessoa' /}
#{/else}

<form action="@{Pessoas.salvar}">
	<input type="hidden" name="pessoa.id" value="${p?.id}" />

	<div class="mb-3">
		<label class="form-label">Nome:</label>
		<input class="form-control" type="text"
			name="pessoa.nome" value="${p?.nome}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">Email:</label>
		<input class="form-control" type="text"
			name="pessoa.email" value="${p?.email}" />
	</div>
	
		<div class="mb-3">
		<label class="form-label">Telefone:</label>
		<input class="form-control" type="text"
			name="pessoa.tel" value="${p?.tel}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">Problema:</label>
		<select class="form-select" name="pessoa.problema.id">
			#{list items:problemas, as:'pro'}
				<option value="${pro.id}" 
					${pro.id == p?.problema?.id ? 'selected' : ''}>
						${pro.tipo}
				</option>
			#{/list}
		</select>
	</div>
	
	<input class="btn btn-primary" type="submit"
		value="${p ? 'Editar':'Cadastrar'}" />
</form>