#{extends 'main.html' /}
#{set title:'Listagem de Pessoas' /}

<form action="@{Pessoas.listar}">
	<label>Buscar por nome ou email:</label>
	<input type="text" name="termo" value="${termo}" />
	<input type="submit" />
</form>

<ul>
	#{list items: pessoas, as:'p'}
		<li>${p.nome} (${p.email}) (${p.problema}) (${p.tel})| 
			<a href="@{Pessoas.editar(p.id)}">Editar</a> |
			<a href="@{Pessoas.remover(p.id)}">Remover</a>
		</li>
	#{/list}
	#{else}
		<li>Nenhuma pessoa cadastrada</li>
	#{/else}
</ul>

<a class="btn btn-primary" href="@{Pessoas.form}">Cadastrar Novo</a>