<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap-5.3.6/css/bootstrap.min.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/Logo_NetinhoDaVo.png'}">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Index - Medilab Bootstrap Template</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/Logo_NetinhoDaVo.png'}">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/bootstrap-5.3.6/css/bootstrap.min.css'}">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>
<body>

	<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">netinhodavo@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>4002-8922</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="@{Pessoas.form()}" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">Netinho da Vó</h1>
        </a>

        <a class="cta-btn d-none d-sm-block" href="/pessoas/form#contact">Como podemos ajudar?</a>
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home<br></a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#departments">Erros frequentes</a></li>
			<li><a href="#faqd">Perguntas frequentes</a></li>
			<i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <li><a href="#contact">Contato</a></li>
			<li class="dropdown">
			<a><span>Fazer Login</span> 
				<ul>
					#{if session['usuarioLogado']}
					<li><a aria-expanded="false">
					<i class="bi bi-person"></i> ${session['usuarioLogado']}</a>
				    <li><a class="dropdown-item text-danger" href="@{Logins.logout}">Sair</a></li>
				    </ul>
					#{/if}
					#{else}
					<a href="@{Logins.logar()}">Login</a>
						    #{/else}    
					</li>
					</ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

  </header> 

  #{if flash.error}
    <div class="container mt-3">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Algo deu errado:</strong> ${flash.error}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
  #{/if} 
  #{if flash.success}
    <div class="container mt-3">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> ${flash.success}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
  #{/if}
  #{doLayout /}

  <footer id="footer" class="footer light-background">

  	<div class="container footer-top">
  		<div class="row gy-4">
  			<div class="col-lg-4 col-md-6 footer-about">
  				<a href="@{Pessoas.form()}" class="logo d-flex align-items-center"> <span
  					class="sitename">ProjecTI</span>
  				</a>
  				<div class="footer-contact pt-3">
  					<p>IFRN-Campus João Câmara</p>
  					<p>João Câmara/RN</p>
  					<p class="mt-3">
  						<strong>Telefone:</strong> <span>4002-8922</span>
  					</p>
  					<p>
  						<strong>Email:</strong> <span>netinhodavo@gmail.com</span>
  					</p>
  				</div>
  				<div class="social-links d-flex mt-4">
  					<a href=""><i class="bi bi-twitter-x"></i></a> <a href=""><i
  						class="bi bi-facebook"></i></a> <a href=""><i
  						class="bi bi-instagram"></i></a> <a href=""><i
  						class="bi bi-linkedin"></i></a>
  				</div>
  			</div>

  			<div class="col-lg-2 col-md-3 footer-links">
  				<h4>Useful Links</h4>
  				<ul>
  					<li><a href="#">Home</a></li>
  					<li><a href="#">About us</a></li>
  					<li><a href="#">Services</a></li>
  					<li><a href="#">Terms of service</a></li>
  					<li><a href="#">Privacy policy</a></li>
  				</ul>
  			</div>

  			<div class="col-lg-2 col-md-3 footer-links">
  				<h4>Our Services</h4>
  				<ul>
  					<li><a href="#">Web Design</a></li>
  					<li><a href="#">Web Development</a></li>
  					<li><a href="#">Product Management</a></li>
  					<li><a href="#">Marketing</a></li>
  					<li><a href="#">Graphic Design</a></li>
  				</ul>
  			</div>

  			<div class="col-lg-2 col-md-3 footer-links">
  				<h4>Hic solutasetp</h4>
  				<ul>
  					<li><a href="#">Molestiae accusamus iure</a></li>
  					<li><a href="#">Excepturi dignissimos</a></li>
  					<li><a href="#">Suscipit distinctio</a></li>
  					<li><a href="#">Dilecta</a></li>
  					<li><a href="#">Sit quas consectetur</a></li>
  				</ul>
  			</div>

  			<div class="col-lg-2 col-md-3 footer-links">
  				<h4>Nobis illum</h4>
  				<ul>
  					<li><a href="#">Ipsam</a></li>
  					<li><a href="#">Laudantium dolorum</a></li>
  					<li><a href="#">Dinera</a></li>
  					<li><a href="#">Trodelas</a></li>
  					<li><a href="#">Flexo</a></li>
  				</ul>
  			</div>

  		</div>
  	</div>

  	<div class="container copyright text-center mt-4">
  		<p>
  			© <span>Copyright</span> <strong class="px-1 sitename">ProjecTI</strong>
  			<span>All Rights Reserved</span>
  		</p>
  		<div class="credits">
  			<!-- All the links in the footer should remain intact. -->
  			<!-- You can delete the links only if you've purchased the pro version. -->
  			<!-- Licensing information: https://bootstrapmade.com/license/ -->
  			<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
  			Designed by <a href="https://bootstrapmade.com/">Pedriin</a>
  			Distributed by <a href=“https://themewagon.com>PI 
  		</div>
  	</div>

  </footer>
  <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/php-email-form/validate.js'}"></script>
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/aos/aos.js'}"></script>
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/glightbox/js/glightbox.min.js'}"></script>
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/purecounter/purecounter_vanilla.js'}"></script>
    <script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/vendor/swiper/swiper-bundle.min.js'}"></script>

    <!-- Main JS File -->
	<script src="@{'/public/bootstrap-5.3.6/js/bootstrap.bundle.min.js'}"></script>
	<script src="@{'/public/MediLab-1.0.0/MediLab-1.0.0/assets/js/main.js'}"></script>

  </html>